
:root {
  --dot-size: 2.6px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}


body, html {
  min-height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
  overflow-y: auto;
  background: #0b0f16;
}


#bgCanvas {
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}


.diffuser{
  position: absolute;
  width: 100%;
  z-index: 1;
  height: 100%;
  background: radial-gradient(rgba(0, 0, 0, 0.9), transparent 200%);
}

:root {
  --dot-size: 2.6px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}


body, html {
  min-height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
  overflow-y: auto;
  background: #0b0f16;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;

  pointer-events: none;

  /* SINGLE 100vh VIGNETTE SLICE */
  background: radial-gradient(circle at center,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0) 40%,
    rgba(0,0,0,0.55) 70%,
    rgba(0,0,0,0.9) 100%
  );

  background-size: 100% 100vh;
  background-repeat: repeat-y;

  z-index: 1; /* IMPORTANT */
}

#bgCanvas {
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}

.bg{
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.diffuser{
  position: absolute;
  width: 100%;
  z-index: 1;
  height: 100%;
  background: radial-gradient(rgba(0, 0, 0, 0.9), transparent 200%);
}

